site_name: PyPortion Docs
site_description: CLI tool documentation
repo_url: https://github.com/atharabia/pyportion
site_url: https://pyportion.com/
repo_name: pyportion
theme:
    name: material
    favicon: assets/images/favicon.ico
    logo: assets/images/logo.png
    features:
        - content.code.annotate
        - content.code.copy
        - content.footnote.tooltips
        - content.tabs.link
        - content.tooltips
        - navigation.footer
        - navigation.indexes
        - navigation.instant
        - navigation.instant.prefetch
        - navigation.instant.progress
        - navigation.path
        - navigation.tabs
        - navigation.top
        - navigation.tracking
        - search.highlight
        - search.share
        - search.suggest

    palette:
        - scheme: slate
          primary: green
          accent: green

markdown_extensions:
    - pymdownx.highlight:
          anchor_linenums: true
          line_spans: __span
          pygments_lang_class: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences

extra_css:
    - assets/css/custom.css
    - assets/css/termynal.css

extra_javascript:
    - assets/js/termynal.js

nav:
    - Home: pages/index.md
    - User Guide:
        - Introduction: pages/user-guide/1-introduction.md
        - Installation: pages/user-guide/2-installation.md
        - Template Management: pages/user-guide/3-templates-management.md
        - Project Creation: pages/user-guide/4-project-creation.md
        - Existing Project: pages/user-guide/5-existing-project.md
        - Cloning a Project: pages/user-guide/6-syncing-templates.md
        - Template Creation: pages/user-guide/7-template-creation.md
        - Steps Reference: pages/user-guide/8-steps-reference.md
        - Variables: pages/user-guide/9-variable-substitution.md
        - Publishing a Template: pages/user-guide/10-publishing-a-template.md
    - Official Templates: pages/official-templates.md
    - Contributing:
        - Overview: pages/contributing/index.md
        - Architecture: pages/contributing/architecture.md
        - Core Modules: pages/contributing/core-modules.md
        - Step Actions: pages/contributing/step-actions.md
        - Extending: pages/contributing/extending.md
        - Testing: pages/contributing/testing.md
